In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
data=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
data.name="numbers"

In [ ]:
data.size

5

In [ ]:
data.shape

(5,)

In [ ]:
data.values

array([1, 2, 3, 4, 5])

In [ ]:
data["a"],data["b"]

(np.int64(1), np.int64(2))

In [ ]:
data.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
data.loc["a"::2],data.iloc[3]

(a    1
 c    3
 e    5
 Name: numbers, dtype: int64,
 np.int64(4))

In [ ]:
dictionary={
    "usn" : [1,2,3,4],
    "name" : ["varun","sahana","suraj","sonu"],
    "age" : [25,20,19,22],
    "branch" : ["CS","CS","DS","AI"]
}

In [ ]:
df = pd.DataFrame(dictionary)
df

   usn    name  age branch
0    1   varun   25     CS
1    2  sahana   20     CS
2    3   suraj   19     DS
3    4    sonu   22     AI

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving sample.csv to sample.csv

In [ ]:
import pandas as pd
data = pd.read_csv("sample.csv")    #first 5
data.head()

,Unnamed: 0,EmpID,Name,Department,Age,Salary,Experience,JoiningDate,City,PerformanceScore
0,0,101,Ram,IT,25,50000,2,15-01-2021,Bangalore,4.5
1,1,102,Shyam,HR,30,45000,5,10-03-2019,Mumbai,3.8
2,2,103,Geeta,Finance,28,60000,4,22-07-2020,Delhi,4.2
3,3,104,Anita,IT,35,75000,10,30-09-2015,Bangalore,4.9
4,4,105,Kiran,HR,32,52000,7,12-06-2018,Mumbai,4.1

In [ ]:
data = pd.read_csv("sample.csv")
data

,Unnamed: 0,EmpID,Name,Department,Age,Salary,Experience,JoiningDate,City,PerformanceScore
0,0,101,Ram,IT,25,50000,2,15-01-2021,Bangalore,4.5
1,1,102,Shyam,HR,30,45000,5,10-03-2019,Mumbai,3.8
2,2,103,Geeta,Finance,28,60000,4,22-07-2020,Delhi,4.2
3,3,104,Anita,IT,35,75000,10,30-09-2015,Bangalore,4.9
4,4,105,Kiran,HR,32,52000,7,12-06-2018,Mumbai,4.1
5,5,106,John,Finance,29,58000,3,05-11-2021,Delhi,3.9
6,6,107,Meena,IT,41,82000,15,18-04-2010,Bangalore,4.8
7,7,108,David,HR,26,48000,2,14-02-2022,Mumbai,3.7
8,8,109,Sara,Finance,38,61000,12,01-12-2013,Delhi,4.3
9,9,110,Arjun,IT,27,54000,4,19-08-2020,Bangalore,4.0
10,10,111,Ravi,HR,33,47000,6,23-05-2017,Mumbai,3.6
11,11,112,Priya,Finance,31,59000,5,17-09-2019,Delhi,4.4
12,12,113,Kunal,IT,45,90000,18,11-03-2008,Bangalore,4.9
13,13,114,Sneha,HR,29,51000,3,29-07-2021,Mumbai,3.5
14,14,115,Vijay,Finance,36,62000,11,10-01-2014,Delhi,4.2
15,15,116,Neha,IT,40,88000,14,21-10-2011,Bangalore,4.7
16,16,117,Amit,HR,34,53000,8,05-04-2016,Mumbai,4.0
17,17,118,Pooja,Finance,30,57000,6,12-12-2018,Delhi,4.1
18,18,119,Rahul,IT,28,56000,4,28-02-2020,Bangalore,3.9
19,19,120,Divya,HR,37,49500,9,30-06-2015,Mumbai,4.3

In [ ]:
data = pd.read_csv("sample.csv")     #last 5
data.tail()

,Unnamed: 0,EmpID,Name,Department,Age,Salary,Experience,JoiningDate,City,PerformanceScore
15,15,116,Neha,IT,40,88000,14,21-10-2011,Bangalore,4.7
16,16,117,Amit,HR,34,53000,8,05-04-2016,Mumbai,4.0
17,17,118,Pooja,Finance,30,57000,6,12-12-2018,Delhi,4.1
18,18,119,Rahul,IT,28,56000,4,28-02-2020,Bangalore,3.9
19,19,120,Divya,HR,37,49500,9,30-06-2015,Mumbai,4.3

In [ ]:
data.describe()

,Unnamed: 0,EmpID,Age,Salary,Experience,PerformanceScore
count,20.00000,20.00000,20.000000,20.000000,20.000000,20.000000
mean,9.50000,110.50000,32.700000,59875.000000,7.400000,4.190000
std,5.91608,5.91608,5.449288,13388.796377,4.615762,0.415363
min,0.00000,101.00000,25.000000,45000.000000,2.000000,3.500000
25%,4.75000,105.75000,28.750000,50750.000000,4.000000,3.900000
50%,9.50000,110.50000,31.500000,56500.000000,6.000000,4.150000
75%,14.25000,115.25000,36.250000,61250.000000,10.250000,4.425000
max,19.00000,120.00000,45.000000,90000.000000,18.000000,4.900000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20 non-null     int64
 1   EmpID             20 non-null     int64
 2   Name              20 non-null     object
 3   Department        20 non-null     object
 4   Age               20 non-null     int64
 5   Salary            20 non-null     int64
 6   Experience        20 non-null     int64
 7   JoiningDate       20 non-null     object
 8   City              20 non-null     object
 9   PerformanceScore  20 non-null     float64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.7+ KB

In [ ]:
data.sample()

,Unnamed: 0,EmpID,Name,Department,Age,Salary,Experience,JoiningDate,City,PerformanceScore
16,16,117,Amit,HR,34,53000,8,05-04-2016,Mumbai,4.0

In [ ]:
data.shape

(20, 10)

In [ ]:
data[["Name","Department","Salary"]]

     Name Department  Salary
0     Ram         IT   50000
1   Shyam         HR   45000
2   Geeta    Finance   60000
3   Anita         IT   75000
4   Kiran         HR   52000
5    John    Finance   58000
6   Meena         IT   82000
7   David         HR   48000
8    Sara    Finance   61000
9   Arjun         IT   54000
10   Ravi         HR   47000
11  Priya    Finance   59000
12  Kunal         IT   90000
13  Sneha         HR   51000
14  Vijay    Finance   62000
15   Neha         IT   88000
16   Amit         HR   53000
17  Pooja    Finance   57000
18  Rahul         IT   56000
19  Divya         HR   49500

In [ ]:
data[["Name","Department","Salary"]].head(2)

    Name Department  Salary
0    Ram         IT   50000
1  Shyam         HR   45000

In [ ]:
type(data.Name)

pandas.core.series.Series

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test2.csv to test2.csv

In [ ]:
data=pd.read_csv(r"test2.csv")
data

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David   NaN         IT  62000.0
4           4      Eve  29.0         HR      NaN
5           5    Alice  25.0         HR  50000.0

In [ ]:
data.isnull().sum()

Unnamed: 0    0
Name          0
Age           1
Department    0
Salary        1
dtype: int64

In [ ]:
data.isnull()

   Unnamed: 0   Name    Age  Department  Salary
0       False  False  False       False   False
1       False  False  False       False   False
2       False  False  False       False   False
3       False  False   True       False   False
4       False  False  False       False    True
5       False  False  False       False   False

In [ ]:
data.loc[:,"Name":"Department"]

      Name   Age Department
0    Alice  25.0         HR
1      Bob  30.0         IT
2  Charlie  35.0    Finance
3    David   NaN         IT
4      Eve  29.0         HR
5    Alice  25.0         HR

In [ ]:
data.isnull().sum()

Unnamed: 0    0
Name          0
Age           1
Department    0
Salary        1
dtype: int64

In [ ]:
data.isnull()

   Unnamed: 0   Name    Age  Department  Salary
0       False  False  False       False   False
1       False  False  False       False   False
2       False  False  False       False   False
3       False  False   True       False   False
4       False  False  False       False    True
5       False  False  False       False   False

In [ ]:
data

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David   NaN         IT  62000.0
4           4      Eve  29.0         HR      NaN
5           5    Alice  25.0         HR  50000.0

In [ ]:
data.loc[:,"Name":"Department"]

      Name   Age Department
0    Alice  25.0         HR
1      Bob  30.0         IT
2  Charlie  35.0    Finance
3    David   NaN         IT
4      Eve  29.0         HR
5    Alice  25.0         HR

In [ ]:
data.loc["0":"1","Name":"Department"]

    Name   Age Department
0  Alice  25.0         HR
1    Bob  30.0         IT

In [ ]:
data.loc["1":"3","Name":"Department"]

      Name   Age Department
1      Bob  30.0         IT
2  Charlie  35.0    Finance
3    David   NaN         IT

In [ ]:
data.iloc[1:4,1:4]

      Name   Age Department
1      Bob  30.0         IT
2  Charlie  35.0    Finance
3    David   NaN         IT

In [ ]:
data.rename(columns={"Name":"N","Age":"A","Department":"D","Salary":"S"},inplace=True)

In [ ]:
data

   Unnamed: 0        N     A        D        S
0           0    Alice  25.0       HR  50000.0
1           1      Bob  30.0       IT  60000.0
2           2  Charlie  35.0  Finance  70000.0
3           3    David   NaN       IT  62000.0
4           4      Eve  29.0       HR      NaN
5           5    Alice  25.0       HR  50000.0

In [ ]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
data

         N     A        D        S
0    Alice  25.0       HR  50000.0
1      Bob  30.0       IT  60000.0
2  Charlie  35.0  Finance  70000.0
3    David   NaN       IT  62000.0
4      Eve  29.0       HR      NaN
5    Alice  25.0       HR  50000.0

In [ ]:
data["updated_s"]=data["S"]+5000

In [ ]:
data

         N     A        D        S  updated_s
0    Alice  25.0       HR  50000.0    55000.0
1      Bob  30.0       IT  60000.0    65000.0
2  Charlie  35.0  Finance  70000.0    75000.0
3    David   NaN       IT  62000.0    67000.0
4      Eve  29.0       HR      NaN        NaN
5    Alice  25.0       HR  50000.0    55000.0

In [ ]:
data["updated_s"]=data["S"].map(lambda x:x+10000)

In [ ]:
data

         N     A        D        S  updated_s
0    Alice  25.0       HR  50000.0    60000.0
1      Bob  30.0       IT  60000.0    70000.0
2  Charlie  35.0  Finance  70000.0    80000.0
3    David   NaN       IT  62000.0    72000.0
4      Eve  29.0       HR      NaN        NaN
5    Alice  25.0       HR  50000.0    60000.0